<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Angular CRUD</h1>
    <div class="d-flex">
      <button type="button"  class="btn btn-success" (click) = "openAddEmpleeModal()">Add Employee</button>
    </div>
  </div>

</nav>

<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Age
      </th>
      <th scope="col">
        Address
      </th>
      <th scope="col">
        Phone
      </th>
      <th scope="col">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of employee">
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.age}}
      </td>
      <td>
        {{item.address}}
      </td>
      <td>
        {{item.phone}}
      </td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


